<!DOCTYPE html>
<html>
  
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <title>Slider</title>
    <meta http-equiv="Content-Languager" content="en"/>

    <meta name="author" content="Ostapchuk Stepan"/>	  
    <link  rel="stylesheet" href="/stylesheets/slider.css"/>
  </head>
<body onload="getFirstSlides()">

  <ul id="slides">
  </ul>

  <button class="controls" id="pause">Pause</button>
  <button class="controls" id="sizex1">x1</button>
  <button class="controls" id="sizex2">x2</button>
  <button class="controls" id="addSlide">Add Slide</button>
  <script src="/javascripts/script.js"></script>
  <p>Count:</p>
  <p id="count">5<p>
</body>
</html>